{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}CSRF attack{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form>
        <label>
            New password
            <input type="text" id="password">
        </label>
        <input type="submit" value="Submit">
    </form>
{% endblock %}
