{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}SQL injection{% endblock %}</h1>
{% endblock %}

{% block content %}
<ul>
{% for doc in documents %}
    <li>Document id = {{ doc.id }}, Owner id = {{ doc.owner_id }}, Name = {{ doc.name }}</li>
{% endfor %}
</ul>
{% endblock %}
