{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}XSS attack{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form method="post">
        <label>
            Large field
            <textarea name="large_field" id="large_field" cols="30" rows="10"></textarea>
        </label>
        <input type="submit" value="Submit">
    </form>
{% endblock %}
